:root {
  --base-padding: 30px;
  --accent-color: crimson;
  --light-accent-color: rgb(252, 146, 168);
  --secondary-color: rgb(250, 134, 157);
  --primary-gray: #ebebeb;
  --box-shadow: 1px 2px 5px rgb(248, 218, 213);
}

.profile {
  width: 25%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  padding-left: calc(0.25 * var(--base-padding));
}
.avatar {
  width: 45px;
  height: 45px;
  border: 1px solid crimson;
  background-image: url(../../images/avatar2.png);
  background-position: center;
  background-size: cover;
}

.ul li {
  background-color: rgb(255, 242, 245);
  background-color: rgb(221, 253, 253);

  margin-bottom: 1px;
  min-height: 3rem;
  max-height: fit-content;
  list-style: none;
  display: flex;
  align-items: center;
  line-height: 1px;
  padding-left: calc(0.25 * var(--base-padding));
  font-size: 0.95rem;
  color: rgb(68, 68, 68);
}
.ul li:hover {
  cursor: pointer;
  background-color: rgb(201, 252, 252);
}
.ul {
  border-bottom: 1px solid lightblue;
}
