:root {
  --base-padding: 30px;
  --accent-color: crimson;
  --light-accent-color: rgb(252, 146, 168);
  --secondary-color: rgb(250, 134, 157);
  --primary-gray: #ebebeb;
  --box-shadow: 1px 2px 5px rgb(248, 218, 213);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerss {
  display: flex;
  height: 52px;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--base-padding);
  padding-right: var(--base-padding);
  box-shadow: var(--box-shadow);
}
.headerss h1 {
  padding-left: calc(2 * var(--base-padding));
  font-family: "Montserrat", sans-serif;
  font-size: 1.75em;
  color: var(--accent-color);
}

.headerss ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  width: 70ch;
  list-style-type: none;
}
.headerss ul li {
  font-size: 1.2rem;
  height: 80%;
  width: 10ch;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.headerss ul li:hover {
  color: var(--secondary-color);
}
.activetab {
  font-size: 1.25em;
  height: 80%;
  width: 10ch;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--accent-color);
  color: white;
}

@media only screen and (max-width: 900px) {
  .headerss ul {
    width: 50ch;
  }
}

/* __________________________________SECTION A_____________________________________ */
.section-a {
  width: 100%;
  height: calc(100vh - 3.5em);
  display: flex;
  padding-right: var(--base-padding);
  margin-top: calc(0.5 * var(--base-padding));
  font-family: "Montserrat", sans-serif;
}

.qna {
  width: 70%;
  height: 100%;
  /* padding-left: var(--base-padding); */
  font-family: Arial, Helvetica, sans-serif;
}

.qna-header {
  display: flex;

  /* padding-left: var(--base-padding); */
  padding-left: calc(2 * var(--base-padding));
}

.qna-header-h1 {
  font-size: 1rem;
  font-weight: lighter;
  color: rgb(122, 122, 122);
  height: 30px;
  width: 170px;
  padding-left: var(--base-padding);
  padding-right: var(--base-padding);
  margin-right: 30px;
  background-color: var(--primary-gray);
  display: flex;
  align-items: center;

  justify-content: center;
  cursor: pointer;
}
.qna-header-h1:hover {
  color: var(--accent-color);
}

/* ________________________________________POST___________________________________ */

.posts-area {
  margin-top: calc(0.5 * var(--base-padding));
  padding-left: var(--base-padding);
  height: fit-content;
  width: 100%;
  /* background: rgb(248, 250, 246); */
}

.post {
  margin-top: var(--base-padding);
  margin-left: var(--base-padding);
  padding-right: var(--base-padding);

  border-right: 1px solid var(--accent-color);
  /* background-color: var(--primary-gray); */
}

.post-header :nth-child(1) {
  font-size: 1.75rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-right: 30px;
  display: block;
  margin-bottom: 10px;
  /* color: red; */
}

.post-header :nth-child(2) {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
}
.post-header :nth-child(3) {
  font-size: smaller;
  text-decoration: none;
  color: gray;
}
.post-ques-desc {
  padding-left: calc(0.5 * var(--base-padding));
  padding-bottom: calc(0.5 * var(--base-padding));
  padding-top: calc(0.5 * var(--base-padding));
  margin-top: 10px;
  white-space: pre-line;
  line-height: calc(0.75 * var(--base-padding));
  background-color: rgb(255, 244, 244);
  border-radius: 5px;
}
.post-image {
  margin-top: calc(0.5 * var(--base-padding));
  /* background-color: lightcyan; */
}
.post-image img {
  /* display: none; */
  max-width: 70%;
  /* min-width: 50%; */
}
@media only screen and (max-width: 1200px) {
  .post-image img {
    /* display: none; */
    max-width: 100%;
    min-width: 70%;
  }
}
.post input {
  margin-top: calc(0.5 * var(--base-padding));
  width: 100%;
}
/* ______________________________REPLIES____________________________ */

.reply-loader {
  height: 300px;
  width: 100%;
  background-color: var(--primary-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-of-replies {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: calc(0.5 * var(--base-padding));
  padding-left: calc(0.5 * var(--base-padding));
  height: 30px;
  width: 100%;
  white-space: pre-line;
  background-color: rgb(184, 247, 247);
  border-radius: 3px;
  color: gray;
}
.downarrow {
  position: absolute;
  left: 50%;
  animation: bonk 2s infinite ease-in-out;
  color: black;
}
@keyframes bonk {
  0% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    opacity: 0;
  }
}
.replies {
  display: flex;
  height: fit-content;
  width: 100%;
  padding-top: calc(0.5 * var(--base-padding));
  padding-left: var(--base-padding);
  padding-right: var(--base-padding);
  border-bottom: 1px solid lime;
  border-left: 2px solid lime;
  background: rgb(241, 245, 238);
  border-radius: 10px;

  line-height: calc(0.75 * var(--base-padding));
  font-family: "Montserrat", sans-serif;
}

.replies h1 {
  color: var(--accent-color);
  font-size: 1rem;
}
.replies h1 span {
  color: gray;
  font-size: 0.75rem;
}
.replies p {
  padding-top: calc(0.25 * var(--base-padding));
  padding-bottom: calc(0.5 * var(--base-padding));
}
.b {
  font-weight: bold;
}
.thumbsup {
  position: relative;
  background: rgb(204, 204, 204);
  width: 150px;
  height: 25px;
  font-size: 25px;
  /* color: white; */
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}
.nolikes {
  margin-left: 25px;
  height: 100%;
  display: flex;
  align-items: center;
}
.thumb {
  position: absolute;
  cursor: pointer;
  /* background: lime; */
}

/* ____________ADD COMMENT_________________ */
.write-new {
  /* margin: 80px auto 0; */
  margin-top: calc(0.5 * var(--base-padding));
  width: 100%;
  /* border-bottom: 1px solid gray; */
}

.write-new textarea {
  color: #444;
  font: inherit;

  /* height: fit-content; */
  outline: 0;
  border-radius: 3px;
  border: 1px solid #cecece;
  background-color: #fefefe;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
  overflow: auto;

  width: 100%;
  /* min-height: 80px; */
  padding: 15px 20px;
}

.write-new img {
  border-radius: 50%;
  /* margin-top: 15px; */
}

.write-new button {
  float: right;
  background-color: #87bae1;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;

  padding: 10px 25px;
  /* margin-top: 18px; */
}
